<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>cockroach-cms</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:/spring/common/application-context.xml
            classpath*:/spring/common/cache-context.xml
            classpath*:/spring/common/captcha-context.xml
            classpath*:/spring/common/shiro-context.xml
            classpath*:/spring/common/quartz-context.xml
            classpath*:/spring/cms/core-context.xml
            classpath*:/spring/cms/cms-context.xml
            classpath*:/spring/plugin/**/*-context.xml
        </param-value>
    </context-param>

    <!-- 请求时间过滤器 -->
    <filter>
        <filter-name>processTimeFilter</filter-name>
        <filter-class>com.cockroach.cockcms.common.web.ProcessTimeFilter</filter-class>
    </filter>
    <!-- 编码过滤器 -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <!-- hibernate session过滤器 -->
    <filter>
        <filter-name>osivFilter</filter-name>
        <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    </filter>
    <!-- shiro 代理过滤器 -->
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>xssFilter</filter-name>
        <filter-class>com.cockroach.cockcms.common.web.XssFilter</filter-class>
        <init-param>
            <param-name>excludeUrl</param-name>
            <param-value>/member/contribute@/admin@/flow_statistic</param-value>
        </init-param>
        <init-param>
            <param-name>SplitChar</param-name>
            <param-value>@</param-value>
        </init-param>
        <init-param>
            <param-name>FilterChar</param-name>
            <param-value>'@"@\@#@:@%@></param-value>
        </init-param>
        <init-param>
            <param-name>ReplaceChar</param-name>
            <param-value>‘@“@＼@＃@：@％@＞</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>processTimeFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>processTimeFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>processTimeFilter</filter-name>
        <url-pattern>*.jspx</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>processTimeFilter</filter-name>
        <url-pattern>*.htm</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>processTimeFilter</filter-name>
        <url-pattern>*.jhtml</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*.jspx</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*.htm</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>*.jhtml</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>osivFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>osivFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>osivFilter</filter-name>
        <url-pattern>*.jspx</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>osivFilter</filter-name>
        <url-pattern>*.htm</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>osivFilter</filter-name>
        <url-pattern>*.jhtml</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>osivFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>xssFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- admin web application context -->
    <servlet>
        <servlet-name>adminDispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                classpath*:/spring/common/cms-servlet-admin.xml
                classpath*:/spring/plugin/**/*-servlet-admin-action.xml
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- front web application context -->
    <servlet>
        <servlet-name>frontDispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                classpath*:/spring/common/cms-servlet-front.xml
                classpath*:/spring/plugin/**/*-servlet-front-action.xml
            </param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <!-- common web application context -->
    <servlet>
        <servlet-name>commonDispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                classpath*:/spring/common/cms-servlet-common.xml
                classpath*:/spring/plugin/**/*-servlet-common-action.xml
            </param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>captchaServlet</servlet-name>
        <servlet-class>com.cockroach.cockcms.common.captcha.JcaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileServlet</servlet-name>
        <servlet-class>com.cockroach.cockcms.core.action.front.DbFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>snapScreenServlet</servlet-name>
        <servlet-class>com.cockroach.cockcms.core.action.front.SnapScreenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminDispatcherServlet</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frontDispatcherServlet</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frontDispatcherServlet</servlet-name>
        <url-pattern>*.jhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frontDispatcherServlet</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frontDispatcherServlet</servlet-name>
        <url-pattern>*.jspx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>commonDispatcherServlet</servlet-name>
        <url-pattern>/common/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>captchaServlet</servlet-name>
        <url-pattern>/captcha.svl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileServlet</servlet-name>
        <url-pattern>/file.svl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>snapScreenServlet</servlet-name>
        <url-pattern>/snapScreen.svl</url-pattern>
    </servlet-mapping>

    <!-- spring application context -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- 使用IntrospectorCleanupListener 解决quartz引起的内存泄漏 -->
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>

    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.shtml</welcome-file>
        <welcome-file>index.jhtml</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/error/403.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/error/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/error/500.html</location>
    </error-page>

    <mime-mapping>
        <extension>rar</extension>
        <mime-type>application/zip</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>doc</extension>
        <mime-type>application/zip</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>wps</extension>
        <mime-type>application/zip</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>et</extension>
        <mime-type>application/zip</mime-type>
    </mime-mapping>

</web-app>